name: Canary

on:
  workflow_dispatch:

  push:
    branches:
      - main # publish a dev build on main
    paths:
      - pkg/docker/Dockerfile
      - .github/workflows/action-docker.yml
      - .github/workflows/build-canary.yml
      - core/**
      - frost/**

permissions:
  contents: read   # To checkout the repository
  packages: write  # To push Docker images to GHCR

jobs:
  build-canary:
    name: Build Canary
    uses: ./.github/workflows/action-docker.yml
    with:
      title: glacier
      version_tag: canary
      source_branch: ${{ github.ref_name }}
      is_latest: false
      dockerfile: pkg/docker/Dockerfile
    secrets: inherit