name: Canary

on:
  workflow_dispatch:

  push:
    branches:
      - main
    paths:
      - pkg/docker/Dockerfile
      - .github/workflows/action-docker.yml
      - .github/workflows/action-frost.yml
      - .github/workflows/build-canary.yml
      - core/**
      - ui/**

permissions:
  contents: write
  packages: write

jobs:
  build-frost:
    name: Build Frost Canary
    uses: ./.github/workflows/action-frost.yml
    with:
      version_tag: canary

  build-docker:
    name: Build Glacier Docker Canary
    uses: ./.github/workflows/action-docker.yml
    with:
      title: glacier
      version_tag: canary
      source_branch: ${{ github.ref_name }}
      is_latest: false
      dockerfile: pkg/docker/Dockerfile
    secrets: inherit